<% provide :title, t(:login) %>
<div class="large-4 columns large-centered panel radius">
  <%= form_for :session, url: session_path do |f|%>
    <%= f.text_field :user_name,  placeholder: '账号' %><br>
    <%= f.password_field :password,  placeholder: '密码' %><br>
    <%= f.submit '确定', class: 'button radius large-12 columns' %>
  <% end %>
   <div style="text_algin:center">还没有账号？去<%= link_to "注册", register_path, class: 'button radius small' %></div>
</div>
