<div class="row medium-8 large-7 columns">
<div class="blog-post">
	<%=link_to meeting_path(meeting) do %>
	<h4><%=@title%></h4>
	<h4><small><%=l meeting.start_time%>--<%=l meeting.end_time%></small></h4>


	<div class="callout">
	<p><%=  meeting.location_en %></p>
	<%end%>
	</div>
</div>

</div>