<% provide :title, current_user.present? ? t(:welcome) : t(:new_user) %>
<div class="row">
  <%if !signed_in?%>
  <div class="large-7 medium-6 small-12 columns">
    <% if params[:from].nil? %>
    <h2>欢迎您加入吃货帮!</h2>
    <% end %>
    <% if params[:from] == 'share_from_foodie' && params[:groupid].present? %>
    <% if session[:locale]=='zh' %>
    <h2>欢迎您加入<%= Group.find(params[:groupid] || params[:groupid]).name %>!</h2>
    <% else %>
    <h2>Welcome to <%= Group.find(params[:groupid] || params[:groupid]).name %>!</h2>
    <% end %>
    <%= form_for @user do |f| %>
    <input name="openid" value="<%= params[:openid] %>" type="hidden" />
    <input name="from" value="share_from_foodie" type="hidden" />
    <input name="group_id" value="<%= params[:groupid] %>" type="hidden" />
    <input name="avatar" value="<%= params[:avatar] %>" type="hidden" />
    <input name="nickname" value="<%= params[:nickname] %>" type="hidden" />
    <div class="small-12 columns">
      <%= f.text_field :mobile, required: true, placeholder: '手机' %>
      <%= show_error_message('请输入您的手机号码.') %>
    </div>
    <div class="small-12 columns">
      <%= f.submit '提交审核',class: 'button right' %>
    </div>
    <% end %>
    <% else %>
    <%= render 'form' %>
    <% end %>
  </div>
</div>
<%elsif session[:locale]=='zh'%>
<div class=" small-12 large-4 medium-5 columns panel">
  <p>亲爱的<%=current_user.name%><%= current_user.sex=='2'? '小姐':'先生/小姐'%>：

    <p>恭喜您成为吃货帮会员，您的会员编号为:&nbsp;&nbsp;
      <span  style='font-size:12pt;font-weight:bold'>F0000<%= current_user.id%></span>
    </p>

    <p>欢迎加入吃货帮诚信社区！让我们一起去团天下健康美食。
      <p>作为会员，您只做3件事:
        <dl>
          <li>1）告诉我们您想要什么</li>
          <li>2）帮助朋友实现需求愿望</li>
          <li>3）购买平台诚信担保的服务</li>
        </dl>
        <p>希望您能全面参与吃货帮平台建设，大力推荐可以信赖的朋友参加。共享平台收益！
          <p>您有任何建议或者需求，请及时反馈我们，我们是一家人，服务服务还是服务！
            <p>详细组织规则将另行择日公布。

              <p>吃货帮管理团队
                <p><%=current_user.created_at.strftime("%Y-%m-%d")%></p>
                <div class="columns small-12 center">
                  <%=link_to '立即体验', '/',class:'button'%>
                </div>  
                </div
                <%else%>
                <div class=" small-12 large-4 medium-5 columns panel">
                  Dear <%=current_user.name%>:

                  <p>Welcome to the Shanghai "Food Group-buying" group!Your registration number is: <span  style='font-size:12pt;font-weight:bold'>F0000<%= current_user.id%></span>.</p>
                  <p>This is a platform for Foodies to access special discounts through group buying deals! </p>
                  <p>We are building a platform to gather a big community in Shanghai to share amazing deals on our favourite foods products!</p>
                  <p>Invite more friends to the group to share the deals and get even higher discounts! </p>
                  <p>How to use this group and rules to follow:</p>
                  <dl>
                    <li>- The main discussions should be about food related topics, e.g. Your favourite dishes; what do you eat the most; what product you love but you would like to be cheaper etc. </li>
                    <li>- No spam, advertising or off-topic conversations are allowed. </li>
                    <li>- In this group conversation and contents should always be in ENGLISH. </li>
                    <li>- Special requests from producers, importers or distributors must be discussed in private.</li>
                  </dl>

                  <p>Sincerely,<br>
                    Food Group-buying Team</p>
                    <p><%=current_user.created_at.strftime("%Y-%m-%d")%></p>
                    <div class="columns small-12 center">
                      <%=link_to 'Goto Home', '/',class:'button'%>
                    </div> 
                  </div> 
                  <%end%>
                </div>
