<% if params[:msg] %>
    <h4 class="active-account"><%= parmas[:msg] %></h4>
<% else %>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Mobile:</strong>
      <%= @user.mobile %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
<% end %>