
<section class="panel">
    <header class="panel-heading">
       New Category of Pages
    </header>
    <div class="panel-body">
       <%= form_for [:admin, @page_category], html: {class: 'form-horizontal'} do |f| %>
        <% if @page_category.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@page_category.errors.count, "error") %> prohibited this page_category from being saved:</h2>

              <ul>
                <% @page_category.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, 'name', class: 'col-md-2 control-label' %>
         
          <div class="col-md-10">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>     
         <div class="form-group">
          <%= f.label :layout, 'layout', class: 'col-md-2 control-label' %>
         
          <div class="col-md-10">
            <%= f.text_field :layout, class: 'form-control' %>
          </div>
        </div>     
         <div class="form-group">
          <%= f.label :type, 'type', class: 'col-md-2 control-label' %>
         
          <div class="col-md-10">
            <%= f.text_field :type, class: 'form-control' %>
          </div>
        </div>     
      <div class="form-group"> 
        <div class="submit-button col-md-6 col-md-offset-3">
          <%= f.submit 'Submit', class: 'btn btn-primary form-control' %>
        </div> 
        <div class="submit-button col-md-6 col-md-offset-3">
          <%= link_to 'Cancle', class: 'btn btn-primary form-control' %>
        </div> 
      </div>
    <% end %>
  </div>
</section>