<p id="notice"><%= notice %></p>

<h1>Listing meeting_attendees</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Full Name</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting_attendees.each do |meeting_attendee| %>
      <tr>
        <td><%= meeting_attendee.email %></td>
        <td><%= meeting_attendee.user.full_name if meeting_attendee.user_id %></td>
        <td><%= link_to 'Show', meeting_attendee %></td>
      </tr>
    <% end if @meeting_attendess%>
  </tbody>
</table>

<br>

<%= link_to 'New meeting_attendee', new_meeting_attendee_path %>
