<div class="groupbuys-list">
  <div class="title">
    <h3>团购列表</h3>
  </div>
  <div class="navpath">
    <span>
      <%= link_to "首页", admin_reports_path %>
    </span>
    <span class="slash">/</span>
    <span class="subpath">
      团购列表
    </span>
  </div>

  <div class="content">
    <table>
      <tr class="title">
        <th>团购名称</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>报名人数</th>
        <th>支付人数</th>
        <th>发起人</th>
        <th>价格</th>
        <th>推荐值</th>
        <th>操作</th>
      </tr>
      <% @groupbuys.each_with_index do |groupbuy| %>
      <tr class="body" id="groupbuy-<%= groupbuy.id %>">
        <td class="groupbuy-title"><%= groupbuy.title[0..10] %></td>
        <td><%= groupbuy.start_time.strftime('%F %T') %></td>
        <td><%= groupbuy.end_time.strftime('%F %T') %></td>
        <td><%= link_to Participant.where(groupbuy_id: groupbuy.id).count, admin_participants_list_path(groupbuy_id: groupbuy.id) %></td>
        <td><%= Participant.where(groupbuy_id: groupbuy.id, status_pay: 1).count %></td>
        <td><%= groupbuy.name %></td>
        <td><%= groupbuy.price %></td>
        <td>
          <input type="number" name="recommend" value="<%= groupbuy.recommend %>" data-url="<%=groupbuy_path(groupbuy)%> id="<%= groupbuy.id %>" data-value="<%= groupbuy.recommend %>" class="recommend-number" data-id="<%= groupbuy.id %>" />
        </td>
        <td>
        <span class="edit-title edit" data-id="<%= groupbuy.id %>" data-title="<%= groupbuy.title %>">编辑</span>
        <%= link_to "删除", groupbuy_path(groupbuy), class: 'delete', method: :delete, remote: true,  data: { confirm:'确定删除?' } %>
        </td>
      </tr>
      <% end %>
    </table>
    <div class="paginate">
      <%= will_paginate @groupbuys %>
    </div>
  </div>
</div>