<div class="title">
  <h3>系统报告</h3>
</div>

<div class="counting">
  <span class="text">统计：</span>
  <span class="count">
    <%= link_to admin_users_list_path do %>
    会员数：<%= @users.count %>
    <% end %>
  </span>
  <span class="count">
    <%= link_to admin_groupbuys_list_path do %>
    团购数：<%= Groupbuy.count %>
    <% end %>
  </span>
  <span class="count">
    <%= link_to admin_tags_list_path do %>
    标签数：<%= Tag.count %>
    <% end %>
  </span>
  <span class="count">
    <%= link_to admin_topics_list_path do %>
    话题数：<%= Topic.count %>
    <% end %>
  </span>
  
  <span class="count">评论数：<%= Comment.count %></span>

</div>
<div class="content">
  <table>
    <tr class="title">
      <th>用户id</th>
      <th>用户昵称</th>
      <th>用户名字</th>
      <th>参与团购</th>
      <th>参与话题</th>
      <th>发表活动</th>
      <th>发表话题</th>
    </tr>
    <% @users.each_with_index do |user| %>
    <tr class="body">
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.name %></td>
      <td><%= Participant.where(user_id: user.id).count %></td>
      <td><%= user.comments.group(:topic_id).count.select {|key, value|key.present?}.count %></td>
      <td><%= user.groupbuys.count.to_i %></td>
      <td><%= user.topics.count.to_i %></td>
    </tr>
    <% end %>
  </table>
  <div class="paginate">
    <%= will_paginate @users %>
  </div>
</div>