<%= link_to new_admin_email_path do %>
    <div class="new-email btn btn-primary pull-right">
      新建邮件
    </div>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>时间</th>
    <th>邮件标题</th>
    <th>发送邮件</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @emails.each do |email| %>
      <tr>
        <td><%= email.created_at.strftime('%F %T') %></td>
        <td><%= email.title %></td>
        <td>
          <span class="btn btn-success send-email" data-id="<%= email.id %>">发送</span>
          <span class="send-status hidden">
            <span class="sending-emails">
               <span>已经发送完</span>
               <span class="count">0</span>
               <span>封邮件</span>
            </span>
            <span class="send-done hidden">邮件已经全部发送完毕！</span>
          </span>
        </td>
        <td>
          <span class="btn btn-warning"><%= link_to '编辑', edit_admin_email_path(email) %></span>
          <span class="btn btn-danger"><%= link_to '删除', admin_email_path(email), method: :delete, data: {confirm: '确定删除邮件?'} %></span>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function () {
    var emailId = '';

    var emails = [];
    var url = "<%= send_emails_path %>";
    <% @email_addresses.each do |email| %>
    emails.push("<%= email %>");
    <% end %>
    var len = emails.length;
    $('.send-email').on('click', function () {
      emailId = $(this).data('id');
      $('.send-done').addClass('hidden');
      $('.send-status').removeClass('hidden');
      <% @email_addresses.each_with_index do |email, index| %>
      var email = "<%= email %>";
      var index = "<%= index %>";
      var counts = 0;
      var last = 'fasle';
      if(index == len - 1) {
        last = 'ture';
      }
      $.post(url, {email: email, len: index, email_id: emailId, last: last}, function (e) {
        counts += 1;
        if (counts == len) {
          $('.sending-emails').addClass('hidden');
          $('.send-done').removeClass('hidden');
        }
        $('.count').text(counts);
      });
      <% end %>
    })
  })
</script>