<%
  case controller_name
    when 'home'
      @home_active = 'active'
    when 'users'
      @users_active = 'active'
    when 'groupbuys'
      @groupbuys_active = 'active'
    when 'events'
      @events_active = 'active'  
    when 'searchs'
      @searchs_active = 'active'
    else
      @forums_active = 'active'
  end
%>
<div class="icon-bar five-up" role="navigation" id="bottomNav">
  <%=link_to root_path,class:"item #{@home_active}" do%>
    <i class="fa fa-home"></i>
  <%end%>
  <%=link_to groupbuys_path,class:"item #{@groupbuys_active}" do%>
    <i class="fa fa-cart-plus"></i>
  <%end%>
  <%=link_to events_path,class:"item #{@events_active}" do%>
    <i class="fa fa-calendar"></i>
  <%end%>
  <%=link_to forum_path(forum_id),class:"item #{@forums_active}" do%>
    <i class="fa fa-bullhorn"></i>
  <%end%>
  <%if current_user
      @user_url = profile_path(current_user.username)
    else
      @user_url= login_path
    end%>
  <%=link_to @user_url,class:"item #{@users_active}" do%>
    <i class="fa fa-user"></i>
  <%end%>
 
</div>