<div class="reveal small" id="login_register" data-reveal  datdata-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class="center row">
    <ul class="tabs" data-tabs id="sign-in-up">
      <li class="tabs-title"><a href="#register">Sign Up</a></li>
      <li class="tabs-title is-active"><a href="#login" aria-selected="true">Sign In</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="sign-in-up">
      <div class="tabs-panel" id="register">       
         <p>
              <div class="row">
                <div class="large-12 columns">
                  <div class="signup-panel">
                    <p class="welcome">Hello, new user!</p> 
                    <% @user = User.new%>                  
                    <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
                      <% if @user.errors.any? %>
                        <div id="error_explanation">
                          <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
                          <ul>
                            <% @user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <div class="row collapse">
                        <div class="small-2  columns">
                          <span class="prefix"><i class="fi-torso"></i></span>
                        </div>
                        <div class="small-10  columns">
                         <%= f.text_field :full_name,placeholder:"Full Name" %> 
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2 columns">
                          <span class="prefix"><i class="fi-mail"></i></span>
                        </div>
                        <div class="small-10  columns">
                          <%= f.text_field :email,placeholder:"Email" %> 
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2 columns">
                          <span class="prefix"><i class="fi-mail"></i></span>
                        </div>
                        <div class="small-10  columns">
                          <%= f.text_field :mobile,placeholder:"Mobile" %> 
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2 columns ">
                          <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                          <%= f.password_field :password,placeholder:"Password"  %>
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2 columns ">
                          <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                          <%= f.password_field :password_confirmation,placeholder:"password_confirmation"  %>
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-12 columns ">
                          <!-- <input id="show-password" type="checkbox"><label for="show-password">Show password</label><br> -->
                          <%= f.submit 'Sign Up', class: 'button expanded' %>
                        </div>
                      </div>
                    <% end %>                  
                  </div>
                </div>
               </div>
          </p>
      </div>
      <div class="tabs-panel is-active" id="login">
         <p>
              <div class="row">
                <div class="large-12 columns">
                  <div class="signup-panel">
                    <p class="welcome">Welcome back!</p>
                    <%= form_for :session, url: session_path, html: {class: 'form-horizontal'} do |f| %>
                      <div class="row collapse">
                        <div class="small-2 columns">
                          <span class="prefix"><i class="fi-mail"></i></span>
                        </div>
                        <div class="small-10  columns">
                          <%= f.text_field :email,placeholder:"Email" %> 
                        </div>
                      </div>
                      <div class="row collapse">
                        <div class="small-2 columns ">
                          <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                          <%= f.password_field :password,placeholder:"Password"  %>
                        </div>
                      </div>
                      <%= f.check_box :remember_me %>
                      <span class="remember-me">Remember Me</span>
                      <%= f.submit 'Sign In', class: 'button expanded' %>
                      <a href="#">Forgot your password?</a><br>                    
                    <% end %> 
                  </div>
                </div>
               </div></p>
      </div>
    </div>
  </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>