<!-- Small Navigation -->
<div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
  <a class="logo-small show-for-small-only" href="#"><img src="http://placehold.it/50x50?text=LOGO" /></a>
  <button class="menu-icon" type="button" data-toggle><i class='fa fa-bars'></i></button>
</div>

<!-- Medium-Up Navigation -->
<div  style="background: #e6e6e6;">
  <div class="row columns">
    <nav class="top-bar" id="nav-menu">
      <div class="logo-wrapper hide-for-small-only">
           <div class="language button-group">
                <a class="tiny button" data-open="login_register" >中 &nbsp;文</a>
                <a class="tiny button" data-open="login_register" >English</a>   
            </div>
      </div>

      <!-- Left Nav Section -->
      <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu">
          <li><a href="#">Contact Us </a></li>
          <li><a href="#">Membership</a></li>
          <li><a href="#">Donate</a></li></li>
        </ul>
      </div>
      
      <!-- Right Nav Section -->
      <div class="top-bar-right">
        <ul class="vertical medium-horizontal menu" data-dropdown-menu>
          <li>
            <a class="tiny button" data-open="login_register" >Sign In</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
  

  <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="top_nav1" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"><i class='fa fa-bars'></i></button>
        <span class="title-bar-title">
          ISCVD
        </span>
      </div>
       <div class="title-bar-right" data-responsive-toggle="wider" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle><i class='fa fa-search'></i></button>
      </div>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <ul class="vertical dropdown menu" data-dropdown-menu>   
        <li><div class="expanded button-group">
        <a class="tiny button" data-open="login_register" >Login</a>
        <a class="tiny button" data-open="login_register" >Join ICVS</a>   
      </div> 
      </li> 
         <li><a href="#"><%=t(:home)%></a></li>
        <li><a href="#" class="is-active"><%=t(:about_us)%></a></li>
        <li><a target="#" href="#"><%=t(:membership)%></a></li>
        <li><a target="#" href="#"><%=t(:events)%></a></li>
        <li><a target="#" href="#"><%=t(:contact)%></a></li>
      </ul>
    </div>

    <!-- right menu -->

    <!-- "wider" top-bar menu for 'medium' and up -->
     <div  class="row collapse">
      <div  class="columns medium-3 small-12">
          <img src='/assets/logo_with_title.png' alt='International Society for Cardiavascular Diseases'>
      </div>
      <div  class="columns medium-9 small-12" id="wider">
      <div class='row collapse'  style="margin-bottom:5px; text-align:center;height:2.6em;">
       <div class="columns small-7 large-offset-2"><input type="search" placeholder="Search"></div>
         <div class="columns small-3"><button class="button">Search</button></div>
       </div>

          <ul class="menu align-right align-bottom"  style=";margin-bottom:5px;">         
          <li><a href="#"><%=t(:home)%></a></li>
          <li><a href="#" class="is-active"><%=t(:about_us)%></a></li>
          <li><a target="#" href="#"><%=t(:membership)%></a></li>
          <li><a target="#" href="#"><%=t(:events)%></a></li>
          <li><a target="#" href="#"><%=t(:contact)%></a></li>  
          </ul>
      </div>
      </div>
    </div>
    

<%=render '/layouts/sign_up_in.html.erb'%>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  