  <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"><i class='fa fa-bars'></i></button>
        <span class="title-bar-title">
          ISCVD
        </span>
      </div>
       <div class="title-bar-right" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle><i class='fa fa-search'></i></button>
      </div>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <ul class="vertical dropdown menu" data-dropdown-menu>   
        <li><div class="button-group">
        <a class="tiny button" data-open="login_register" >Login</a>
        <a class="tiny button" data-open="login_register" >Join ICVS</a>   
      </div> 
      </li> 
         <li><a href="#"><%=t(:home)%></a></li>
        <li><a href="#" class="is-active"><%=t(:about_us)%></a></li>
        <li><a target="#" href="#"><%=t(:membership)%></a></li>
        <li><a target="#" href="#"><%=t(:events)%></a></li>
        <li><a target="#" href="#"><%=t(:contact)%></a></li>
      </ul>
    </div>

    <!-- right menu -->



    <!-- "wider" top-bar menu for 'medium' and up -->
    <div id="widemenu" class="top-bar">
      <div class="top-bar-left hide-for-small-only">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"> <%=t(:site_name)%></li>
          <li> <div class="button-group">
            <a class="tiny button" data-open="login_register" >Login</a>
            <a class="tiny button" data-open="login_register" >Join ICVS</a>   
          </div> 
          </li>
          <li class="has-submenu">
            <a href="#">Item 1</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="left_wide_11">Left wide 1</a></li>
              <li><a href="left_wide_12">Left wide 2</a></li>
              <li><a href="left_wide_13">Left wide 3</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Item 2</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="left_wide_21">Left wide 1</a></li>
              <li><a href="left_wide_22">Left wide 2</a></li>
              <li><a href="left_wide_23">Left wide 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button class="button">Search</button></li>
        </ul>
      </div>
    </div>
    

<%=render '/layouts/sign_up_in.html.erb'%>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  