<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true%>


  <%= stylesheet_link_tag    "admin/reports", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://cdn.bootcss.com/foundation/6.0.5/css/foundation.min.css">
  <%#= javascript_include_tag "admin/reports" %>
  <%= csrf_meta_tags %>
  
</head>

<body>

  <%= yield %>
  <%#= javascript_include_tag "application" 'data-turbolinks-track' => true %>
  
</body>

</html>
